.inputEdit {
  width: 100%;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

.inputEdit:focus {
  outline: none;
  border-color: #5da4f1;
  box-shadow: 0 0 5px rgba(81, 157, 238, 0.5);
}
